# Python cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Massive raw data files (> 50MB)
Retailrocket/*.csv
data/*.csv
OnlineRetail.csv
UCI/*.csv
*.zip
!23MID0043_Lab07_All_3_Datasets_Results.zip

# Large binary model dumps (> 50MB)
outputs/models/*.pkl
outputs/models/*.joblib
outputs/processed_data/
~$*.docx
